{% extends "base_template.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block content %}
 <h1>Comentarios registrados </h1>
      <hr/>
      <div class="container">
      <table>
         <thead>
            <tr>
               <th>Usuario</th>
               <th>Comentario</th>              
            </tr>
         </thead>

         <tbody>
            {% for comentario in usuario_comentario %}
               <tr>
                  <td>{{ comentario.usuario.nombre }}</td>
                  <td>{{ comentario.contenido }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br><br>
     	</div>
{% endblock %}
