{% extends "base_template.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block content %}
     <h1>Registro de Usuario</h1>
      <hr/>        
      <form action = "{{ request.path }}" method = "post" class = "container">
         <label for = "nombre">Nombre</label><br>
         <input type = "text" name = "nombre" placeholder = "Nombre" /><br>
		 
         <label for = "email">Correo Electrónico</label><br>
         <input type = "text" name = "email" placeholder = "email" /><br>
		 
         <label for = "password">Contraseña</label><br>
         <input type = "password" name = "password" placeholder = "password"/><br>
		 <br>
         <input type = "submit" value = "Guardar" />
		  
      </form>
{% endblock %}

